{% block content %}
    <style type="text/css" media="screen">
        textarea {
            overflow: auto;
            outline: none;
        }
        #code{
            border: 1px solid #ddd;
            color: #444;
        }
        #code, .box, .CodeMirror{
            width: 100%;
            font-size: 1.05rem;
            border-radius: 8px;
            box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
            box-sizing: border-box;
        }
        .title{
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .box{
            position: relative;
            height: 205px;
            margin: 10px 0;
            padding: 40px 10px 5px;
            overflow-y: auto;
        }
        .box:not(.alert){
            background: #fff;
        }
        #inputText{
            background: transparent;
            border: 0;
            width: 100%;
        }
        #inputText,#output{
            font-family: monospace;
        }
        #output, #error,#loader{
            width: 100%;
            display: none;
        }
        #loader{
            text-align: center;
        }
        #loader img{
            width: 40%;
        }

    </style>
    <script src="{{ url_for('static', filename = 'codemirror/lib/codemirror.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'codemirror/lib/codemirror.css') }}">
    <script src="{{ url_for('static', filename = 'codemirror/mode/clike/clike.js') }}"></script>
    <script src="{{ url_for('static', filename = 'codemirror/addon/edit/matchbrackets.js') }}"></script>
    <script src="{{ url_for('static', filename = 'codemirror/addon/edit/closebrackets.js') }}"></script>



    <form class="row" action="" method="post">
        <div class="col-lg-8">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <textarea id="code" name="code" required="" rows="20">{% include "code.cpp" %}</textarea>
                </div>   
        </div>
        <div class="col-lg-4">
            <div class="row box">
                <span class="title">Input</span>
                <textarea id="inputText" name="inputText" rows="5"></textarea>
            </div>
            <div class="row box alert alert-warning">
                <span class="title">Output</span>
                <div id="loader">
                    <img src="{{ url_for('static', filename = 'images/loader.gif') }}"/>
                </div>
                <div id="output">
                </div>
                <div id="error">
                </div>
            </div>
        </div>
        <div class="col-12 form-group">
            <button class="btn btn-success" id="compile" name="submit">Compile</button>
        </div>
    </form>

    <script>
        var cppCodeBox = CodeMirror.fromTextArea(document.querySelector('#code'), {
            mode: "text/x-c++src",
            indentUnit: 4,
            indentWithTabs: true,
            lineNumbers: true,
            matchBrackets: true,
            autoCloseBrackets: true,
        });

        cppCodeBox.setSize(null, 430);

        $(function() {
            $('#compile').click(function(e) {
                e.preventDefault();
                cppCodeBox.save()
                $('#output').hide();
                $('#error').hide();
                $('#loader').show();
                $('#output').html("");
                $('#error').html("");
                $.ajax({
                    url: '/',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        $('#loader').hide();
                        response = JSON.parse(response);
                        if(response['error']){
                            $('#error').fadeIn();
                            if(typeof response['error'] == "string")
                                $('#error').html(response['error']);
                            else response['error'].forEach(function (value) {
                                $('#error').append(value+"<br/>");
                            });
                        }
                        else if(response['output']){
                            $('#output').fadeIn();
                            response['output'].forEach(function (value) {
                                $('#output').append(value+"<br/>");
                            });
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
                return false;
            });
        });

    </script>

{% endblock %}
